.cont{
    width: 50%;
    min-height: 60vh;
    display: flex;
    flex-direction: column; 
}
hr{
    width: 100%;
    height: 1px;
    background-color: groove;
}
p{
    margin-top: 25px;
}
form{
    margin-top: 25px;
    width: 400px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
label{
    margin-top: 18px;  
}
input{
    outline: none;
    height: 5vh;
}
button{
    margin-top: 18px; 
    width: 100px;
    height: 50px;
    background-color: red;
    color: white;
    border: 1px solid red;
    border-radius: 20px;
}